<body>
    <header class="py-5 bg-image-full mt-5" style="background-image: url('assets/images/home_images/main-image.png')">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" src="assets/favicon.ico" alt="..." />
            <h1 class="text-white fs-3 fw-bolder">Digital-Store</h1>
        </div>
    </header>

    <!-- Content section-->

    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Pendiente</h2>

                </div>
            </div>
        </div>
    </section>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>