.carousel-inner {
  max-height: 620px;
  /* Cambia este valor según lo necesites */
  overflow: hidden;
  /* Evita que las imágenes grandes se salgan */
}

.carousel-item img {
  object-fit: cover;
  /* Ajusta la imagen para llenar el contenedor sin deformarla */
  height: 100%;
  /* Se adapta a la altura del carrusel */
}


.carousel-caption {
  bottom: auto;
  /* Quita la posición predeterminada */
  top: 60%;
  /* Ajusta este valor según el espacio que quieras desde la parte superior */
  transform: none;
  /* Elimina cualquier transformación previa */
  text-align: center;
  /* Asegura el centrado del texto */
  z-index: 11;
  /* Asegura que el texto esté por encima de la imagen */
}

.carousel-indicators {
  z-index: 11;
  /* Mantiene las barras encima del resto del contenido */
}