<body>
  <header>

  </header>
  <main>
    <div class="body-content">
      <div class="card">
        <div class="card-header">
          <h4>Categorías</h4>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr class="table-header">
                <th scope="col">Category Id</th>
                <th scope="col">Category</th>
                <th scope="col">Tag</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              @for(category of categories; track category.category_id; let i = $index ) {
              <tr>
                <td>{{ category.category_id }}</td>
                <td>{{ category.category }}</td>
                <td>{{ category.tag }}</td>
                <td> @if (category.status) {
                  Activo
                  } @else {
                  Inactivo
                  }              
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <small>19 de Septiembre de 2024</small>
        </div>
      </div>
    </div>
  </main>
  <footer></footer>
</body>